@import 'src/styles/variables.scss';

.constructor {
  position: sticky;
  display: block;
  height: 2080px;
  z-index: 10;
  margin-top: 0;
  background-color: $black-color;
  padding-left: 250px;
  padding-top: 120px;
  padding-right: 250px;
}
@media screen and (max-width: 1400px) {
  .constructor {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .constructor {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (max-width: 992px) {
  .constructor {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .constructor {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    height: 1500px;
  }
}

@media screen and (max-width: 576px) {
  .constructor {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    height: 1000px;
  }
}

.text {
  display: grid;
  min-height:  136px;
  max-width: 850px;
  gap:3px;
  position:relative;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .text {
    align-content: center;
    min-height: 113px;   
  }
}
@media screen and (max-width: 576px) {
  .text {
    min-height: 65px;
    margin-bottom: 12px; 
  }
}

.title {
  line-height: 45px;
  font-weight: 700;
  font-size: 42px;
  color: $white-color;
  font-family: $font-monsterrat;
  margin-bottom: 4px;
}

@media screen and (max-width: 1400px) {
  .title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 34px;
  }
}

@media screen and (max-width: 992px) {
  .title {
    line-height: 35px;
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 22px;   
    line-height: 30px; 
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 365px) {
  .title {
    font-size: 13px;
    line-height: 15px;
  }
}

.description {
  line-height: 28px;
  width: 100%;
  color: $white-color;
  font-weight: 500;
  font-family: $font-monsterrat;
  font-size: 25px;
}

@media screen and (max-width: 992px) {
  .description {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 365px) {
  .description {
    font-size: 9px;
    line-height: 12px;
  }
}


.input_space {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 48px;
  width: 100%;
  height: 473px;
  background-color: $desc-color;
  border-radius: 10px;
  font-weight: 500;
  font-family: $font-monsterrat;
  font-size: 20px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .input_space {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .input_space {
    height: 443px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .input_space {
    height: 310px;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .input_space {
    height: 409px;
    font-size: 12px;
  }
}

.input_field { 
  background-color: $desc-color;
  border-style:hidden;
  width: 100%;  
  height: 100%;  
  resize: none;
  border-color: none;
  font-size: 22px;
}

@media screen and (max-width: 992px) {
  .input_field {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .input_field {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .input_field {
    font-size: 14px;
  }
}

.character_count { 
  position: absolute;
  bottom: 24px; 
  right: 24px; 
}

.buttons {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: space-between;
  row-gap: 484px;  
}

.Button1 {
  left: 250px; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 0;
  width: 348px;
  height: 75px;
  background: none;
  border-radius: 10px;
  border-color:  $btn-color;
  border-width: 2px;
  color: $white-color;
  font-family: $font-monsterrat;
  font-size: 31px;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
  vertical-align:text-bottom;
  outline:none;
  align-items:center;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .Button1 {
    width: 275px;
    font-size: 20px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .Button1 {
    width: 209px;
    font-size: 17px;
    height: 45px;
  }
}

@media screen and (max-width: 576px) {
  .Button1 {
    width: 130px;
    font-size: 12px;
    height: 35px;
  }
}

.Button2 {
  display: flex;
  
  justify-content: center;
  padding: 3px 0;
  width: 348px;
  height: 75px;
  background: $btn-color;
  border-radius: 10px;
  color: $white-color;
  font-family: $font-monsterrat;
  font-size: 31px;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
  vertical-align:text-bottom;
  border-style:hidden;
  outline:none;
  align-items:center;
}

@media screen and (max-width: 992px) {
  .Button2 {
    width: 275px;
    font-size: 20px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .Button2 {
    width: 209px;
    font-size: 17px;
    height: 45px;
  }
}

@media screen and (max-width: 576px) {
  .Button2 {
    width: 130px;
    font-size: 12px;
    height: 35px;
  }
}


.menu{
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 22px;
  padding-right: 30px;
  width: 348px;
  height: 282px;
  background-color: $btn-color;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 0.3s;
}

@media screen and (max-width: 992px) {
  .menu {
    width: 275px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    width: 209px;
    height: 198px;
  }
}

@media screen and (max-width: 576px) {
  .menu {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 20px;
    width: 130px;
    height: 170px;
  }
}

.menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.voice{
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  width: 126px;
  height: 30px;
  margin-top: 16px;
  align-items: center;

}

@media screen and (max-width: 768px) {
  .voice {
    margin-top: 4px;
  }
}

@media screen and (max-width: 576px) {
  .voice {
    margin-top: 0px;
    width: 100px;
  }
}

.iconwoman{
  margin-right: 34px;
  position: relative;
  width: 30px;
  height: 36px;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 992px) {
  .iconwoman {
    width: 23px;
    height: 29px;
  }
}

@media screen and (max-width: 768px) {
  .iconwoman {
    width: 15px;
    height: 20px;
  }
}

@media screen and (max-width: 576px) {
  .iconwoman {
    width: 12px;
    height: 17px;
  }
}

.iconman{
  margin-right: 28px;
  position: relative;
  width: 35px;
  height: 36px;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 992px) {
  .iconman {
    width: 27px;
    height: 28px;
  }
}

@media screen and (max-width: 768px) {
  .iconman {
    width: 18px;
    height: 19px;
  }
}

@media screen and (max-width: 576px) {
  .iconman {
    width: 15px;
    height: 16px;
  }
}

.name {
  width: 126px;
  height: 30px;
  color: $black-color;
  font-weight: 700;
  font-family: $font-monsterrat;
  font-size: 19px;
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 11px;
    height: 14px;
  }
}

@media screen and (max-width: 576px) {
  .name {
    font-size: 7px;
    height: 11px;
    width: 60px;
  }
}

.wrapperleft{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px;
  width: 348px;
  height: 384px;
  align-content: flex-start
}
@media screen and (max-width: 768px) {
  .wrapperleft {
    height: 250px;
  }
}

@media screen and (max-width: 586px) {
  .wrapperleft {
    height: 200px;
  }
}

.wrapperright{
  text-align: right;
  display: grid;
  grid-gap: 30px;
  max-width: 588px;
  max-height: 158px;
  justify-items: end;
}

@media screen and (max-width: 768px) {
  .wrapperright {
    grid-gap: 12px;
    max-height: 105px;
  }
}


.gentext{
  line-height: 26px;
  width: 100%;
  color: $white-color;
  font-weight: 500;
  font-family: $font-monsterrat;
  font-size: 24px;
  color: $white-color;
  text-align: right;
  margin-bottom: 24px;
}

@media screen and (max-width: 1500px) {
  .gentext {
    font-size: 22px;
  }
}

@media screen and (max-width: 1100px) {
  .gentext {
    font-size: 20px;
  }
}

@media screen and (max-width: 1070px) {
  .gentext {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .gentext {
    font-size: 16px;
  }
}

@media screen and (max-width: 896px) {
  .gentext {
    font-size: 14px;
  }
}


@media screen and (max-width: 768px) {
  .gentext {
    width: 294px;
    height: 34px;
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .gentext {
    width: 255px;
  }
}

@media screen and (max-width: 586px) {
  .gentext {
    font-size: 10px;
  }
}
@media screen and (max-width: 510px) {
  .gentext {
    width: 243px;
  }
}

@media screen and (max-width: 425px) {
  .gentext {
    width: 140px;
  }
}

.audioserch
{
  width: 100%;
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: space-between;
  row-gap: 135px;  
  align-items: stretch;
}

@media screen and (max-width: 990px) {
  .audioserch {
    margin-top: 12px;
    margin-bottom: 12px
  }
}
@media screen and (max-width: 786px) {
  .audioserch {
    width: 482px;
    display: grid;
    gap: 2px;  
  }
}

.searchbar {
  display: flex;
  width: 374px;
  text-align: right;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1450px) {
  .searchbar {
    width: 325px;
  }
}

@media screen and (max-width: 1250px) {
  .searchbar {
    width: 285px;
  }
}

@media screen and (max-width: 1020px) {
  .searchbar {
    width: 239px;
  }
}

@media screen and (max-width: 812px) {
  .searchbar {
    width: 195px;
  }
}

@media screen and (max-width: 786px) {
  .searchbar {
    width: 442px;
  }
}

@media screen and (max-width: 500px) {
  .searchbar {
    width: 100%;
  }
}
.searchfield {
  width: 325px;
  height: 53px;
  padding: 0.5rem;
  border: 2px solid $hover-color;
  border-radius: 10px;
  background-color: $black-color;
  outline: none;
  color: $white-color;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 1450px) {
  .searchfield {
    width: 285px;
  }
}

@media screen and (max-width: 1250px) {
  .searchfield {
    width: 245px;
    height: 42px;
  }
}

@media screen and (max-width: 1020px) {
  .searchfield {
    width: 205px;
    height: 39px;
  }
}

@media screen and (max-width: 812px) {
  .searchfield {
    width: 165px;
    height: 31px;
    font-size: 12px;
  }
}

@media screen and (max-width: 786px) {
  .searchfield {
    width: 100%;
    height: 27px;
    border-radius: 6px;
  }
}

@media screen and (max-width: 500px) {
  .searchfield {
    height: 23px;
  }
}

.searchbutton {
  position: relative;
  width: 33px;
  height: 33px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 1020px) {
  .searchbutton {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 812px) {
  .searchbutton {
    width: 27px;
    height: 27px;
  }
}

@media screen and (max-width: 588px) {
  .searchbutton {
    width: 20px;
    height: 20px;
  }
}
/* Состояние фокуса для поля ввода */
.searchfield:focus {
  box-shadow: 0 0 5px $desc-color;
}

/* Состояние наведения для кнопки поиска */
.searchbutton:hover {
  box-shadow: 0 0 5px $desc-color;
}
.customAudio {
  width: 100%;
  height: 50px;
      &::-webkit-media-controls-panel {
          background-color: $blue-color;
          border-style: none;
          box-shadow: none;
      }

      &::-webkit-media-controls-play-button{
          color: $blue-color;
          background-color: $white-color;
          border-radius: 50%;
      }
      &::-webkit-media-controls-current-time-display{
          color: $white-color;
          font-size: 15px;
      }
      &::-webkit-media-controls-time-remaining-display{
          color: $white-color;
          font-size: 15px;
      }

      &::-webkit-media-controls-mute-button{
          background-color: $white-color;
          border-radius: 50%;
      }
}

@media screen and (max-width: 1200px) {
  .customAudio {
    height: 40px;
  }
}

.iconsgen{
  position: relative;
  height: 50px;
  width: 50px;
  background-color: $white-color;
  border-radius: 25px;
  background-image: url('/assets/icons/trash.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}


.wrapperbottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  justify-content: flex-start;
  align-items: center
}

.list{
  display: grid;
  gap: 24px;
}

@media screen and (max-width: 1200px) {
  .customAudio {
    height: 40px;
  }

  .iconsgen {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 1080px) {
  .customAudio {
    height: 35px;
  }

  .iconsgen {
    height: 35px;
    width: 35px;
  }
}