@import 'src/styles/variables.scss';

.registration {
  position: sticky;
  display: flex;
  margin-top: 0;
  background-color: $black-color;
  padding-left: 200px;
  padding-top: 187px;
  padding-right: 207px;
  padding-bottom: 187px;
  
}

@media screen and (max-width: 1900px) {
    .registration {
        padding-top: 100px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 50px;
    }
  }

@media screen and (max-width: 1091px) {
    .registration {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 992px) {
    .registration {
        justify-content: center;
    }
}

@media screen and (max-width: 786px) {
    .registration {
        padding-top: 100px;
    }
}

.picture{
    width: 658px;
    height: 705px;
    position: relative;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1900px) {
    .picture {
        width: 608px;
        height: 655px;
    }
  }

@media screen and (max-width: 1400px) {
    .picture {
        width: 508px;
        height: 555px;
    }
}

@media screen and (max-width: 1200px) {
    .picture {
        width: 458px;
        height: 505px;
    }
}

@media screen and (max-width: 1091px) {
    .picture {
        width: 400px;
        height: 450px;
    }
}

@media screen and (max-width: 992px) {
    .picture {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
}

.wrapper{
    display: flex;
    gap: 112px;
}

@media screen and (max-width: 1900px) {
    .wrapper {
        gap: 35px;
        align-items: center;
    }
  }

@media screen and (max-width: 1091px) {
    .wrapper {
        gap: 15px;
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
        flex-direction: row-reverse;
        gap: 0px;
    }
  }

.wrapperleft{
    display: grid;
    gap: 12px;
}

@media screen and (max-width: 620px) {
    .wrapperleft {
        width: 400px;
        justify-content: center;
    }
  }

.enterspace{
    display: grid;
    gap: 24px;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .enterspace {
        gap: 12px;
    }
  }
@media screen and (max-width: 620px) {
    .enterspace {
        width: 400px;
        justify-content: center;
    }
}

.title{
    font-family: $font-monsterrat;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    color: $white-color;
    width: 604px;
    height: 50px;
}

@media screen and (max-width: 786px) {
    .title {
        font-size: 32px;
        line-height: 32px;
        height: 32px;
    }
  }
@media screen and (max-width: 500px) {
    .title {
        font-size: 28px;
        line-height: 30px;
        height: 30px;
    }
  }

  @media screen and (max-width: 400px) {
    .title {
        font-size: 22px;
    }
  }

.description{
    font-family: $font-monsterrat;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: $white-color;
    width: 410px;
    height: 40px;
}
@media screen and (max-width: 786px) {
    .description {
        font-size: 25px;
        line-height: 32px;
        height: 32px;
    }
  }
@media screen and (max-width: 500px) {
    .description {
        font-size: 20px;
        line-height: 30px;
        height: 30px;
    }
  }

.googlebutton{
    display: flex;
    justify-content: center;
    width: 743px;
    height: 65px;
    background: $white-color;
    border-radius: 10px;
    color: $white-color;
    align-items:center;
    border-style:hidden;
    outline:none;
    background-image: url('/assets/icons/google.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 1900px) {
    .googlebutton {
        width: 693px;
    }
  }

@media screen and (max-width: 1400px) {
    .googlebutton {
        width: 603px;
        height: 55px;
    }  
}

@media screen and (max-width: 1200px) {
    .googlebutton {
        width: 553px;
        height: 50px;
        background-size: 40px 40px;
    }  
}

@media screen and (max-width: 992px) {
    .googlebutton {
        width: 743px;
        height: 65px;
    }  
}

@media screen and (max-width: 786px) {
    .googlebutton {
        width: 600px;
        height: 50px;
        background-size: 40px 40px;
    }  
}

@media screen and (max-width: 620px) {
    .googlebutton {
        width: 500px;
        height: 40px;
        background-size: 35px 35px;
    }  
}

@media screen and (max-width: 620px) {
    .googlebutton {
        width: 400px;
        height: 40px;
        background-size: 30px 30px;
    }  
}

@media screen and (max-width: 450px) {
    .googlebutton {
        background-size: 25px 25px;
        width: 300px;
        height: 35px;
    }  
}

.textlogo{
    display: grid;
    gap:4px;
}

@media screen and (max-width: 992px) {
    .textlogo {
        justify-items: center;
        text-align: center;
    }  
}


.enterbutton{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 369px;
    height: 75px;
    background: $btn-color;
    border-radius: 10px;
    color: $white-color;
    font-family: $font-monsterrat;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    vertical-align:text-bottom;
    border-style:hidden;
    outline:none;
    align-items:center;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .enterbutton {
        width: 258px;
        height: 60px;
        font-size: 30px;
    }  
}

@media screen and (max-width: 992px) {
    .enterbutton {
        width: 208px;
        height: 50px;
        font-size: 25px;
    }  
}

.login{
    width: 743px;
    height: 65px;
    padding: 1rem;
    border: 2px solid;
    border-radius: 10px;
    background-color: $white-color;
    outline: none;
    font-family: $font-monsterrat;
    color: $black-color;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 1900px) {
    .login {
        width: 693px;
    }
  }

@media screen and (max-width: 1400px) {
    .login {
        width: 603px;
        height: 55px;
    }
}

@media screen and (max-width: 1200px) {
    .login {
        width: 553px;
        height: 50px;
    }  
}

@media screen and (max-width: 992px) {
    .login {
        width: 743px;
        height: 65px;
    }  
}

@media screen and (max-width: 786px) {
    .login {
        width: 600px;
        height: 50px;
    }  
}

@media screen and (max-width: 620px) {
    .login {
        font-size: 16px;
        width: 400px;
        height: 40px;
        justify-self: center
    }  
}

@media screen and (max-width: 450px) {
    .login {
        font-size: 16px;
        width: 300px;
        height: 35px;
        justify-self: center
    }  
}

.passwordContainer { 
  position: relative;
  display: flex;
  align-items: center; 
}

@media screen and (max-width: 620px) {
    .passwordContainer {
        justify-content: center
    }  
}

.label {
    position: absolute;
    right: 1.5rem; 
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 20px;
    cursor: pointer;
}
  
.blocktext{
    display: grid;
    gap: 30px;
}

@media screen and (max-width: 1200px) {
    .blocktext {
        gap: 20px;
    }  
}

@media screen and (max-width: 992px) {
    .blocktext {
        gap: 30px;
    }  
}

@media screen and (max-width: 786px) {
    .blocktext {
        gap: 20px;
    }  
}

@media screen and (max-width: 620px) {
    .blocktext {
        gap: 10px;
        justify-content: center;
        justify-items: center;
    }  
}

.text{
    font-family: $font-monsterrat;
    color: $white-color;
    font-size: 25px;
    font-weight: 500;
    height: 41px;
}

@media screen and (max-width: 1200px) {
    .text {
        font-size: 20px;
    }  
}

@media screen and (max-width: 992px) {
    .text {
        font-size: 25px;
    }  
}

@media screen and (max-width: 786px) {
    .text {
        font-size: 22px;
    }  
}

@media screen and (max-width: 620px) {
    .text {
        font-size: 18px;
        height: 25px;
    }  
}

.bluetext{
    font-family: $font-monsterrat;
    color: $btn-color;
    font-size: 25px;
    font-weight: 500;
    height: 41px;
}

@media screen and (max-width: 1200px) {
    .bluetext {
        font-size: 20px;
    }  
}

@media screen and (max-width: 992px) {
    .bluetext {
        font-size: 25px;
    }  
}

@media screen and (max-width: 786px) {
    .bluetext {
        font-size: 22px;
    }  
}

@media screen and (max-width: 620px) {
    .bluetext {
        font-size: 18px;
        height: 25px;
    }  
}

.textbotton{
    display: flex;
    gap: 8px;
    justify-content: center;
}

@media screen and (max-width: 620px) {
    .textbotton {
        align-items: center;
        flex-direction: column;
        justify-content: normal;
    }  
}

.agriment{
    font-family: $font-monsterrat;
    color: $white-color;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .agriment {
        font-size: 18px;
    }  
}

@media screen and (max-width: 992px) {
    .agriment {
        font-size: 20px;
    }  
}

@media screen and (max-width: 786px) {
    .agriment {
        font-size: 16px;
        align-items: center;
    }  
}

@media screen and (max-width: 620px) {
    .agriment {
        font-size: 14px;
    }  
}

.block{
    display: grid;
    gap: 44px;
}

@media screen and (max-width: 992px) {
    .block {
        gap: 24px;
    }  
}

.botton{
    display: grid;
    gap: 18px;
}

.successModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black-color, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: $black-color;
    width: 736px;
    height: 294px;
    padding: 60px;
    border-radius: 10px;
    text-align: center;
    font-family: $font-monsterrat;
    font-size: 36px;
    font-weight: 600;
    color: $white-color;
    display: grid;
    gap: 51px;
    justify-items: center;
    box-shadow: 0px 10px 25px rgba($black-color, 0.68);
  }

@media screen and (max-width: 786px) {
    .modalContent {
        width: 336px;
        height: 250px;
        font-size: 26px;
    }  
}
  
  .modalButton {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 75px;
    background: $btn-color;
    border-radius: 10px;
    color: $white-color;
    font-family: $font-monsterrat;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    vertical-align:text-bottom;
    outline:none;
    align-items:center;
    cursor: pointer;
  }

@media screen and (max-width: 786px) {
    .modalButton {
        width: 100px;
        height: 35px;
        font-size: 20px;
    }  
}