@import  'src/styles/variables.scss';

.footer {
  position: sticky;
  height: 307px;
  background: $white-color;
  align-items: center;
}

.wrapper {
  padding-left: 118px;
  padding-top: 60px;
  height:196px;
  width:1684px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
  gap:288px;
  position:relative;
}

.group{
  height:196px;
  width:167px;
  padding:0px;
  display:flex;
  flex-direction:column;
  gap:4px;
}

.text1 {
  color: $black-color;
  text-align:left;
  vertical-align:text-top;
  font-size:25px;
  font-family:$font-monsterrat;
  font-weight: 500;
  line-height:26px;
  border-style:hidden;
  outline:none;
  width:289px;
}

.text {
  color: $black-color;
  text-align:left;
  vertical-align:text-top;
  font-size:28px;
  font-family: $font-monsterrat;
  line-height:26px;
  border-style:hidden;
  outline:none;
  width:156px;
  font-weight: 500;
  
}

.textbig {
  color: $black-color;
  text-align:left;
  vertical-align:text-bottom;
  font-size:40px;
  font-family: $font-monsterrat;
  font-weight: 700;
  line-height:26px;
  border-style:hidden;
  outline:none;
  width:366px;
  margin-right: 200px;
}
