@import  'src/styles/variables.scss';

.footer {
  height: auto;
  background: $white-color;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  height:auto;
  width:auto;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  gap:250px;
  vertical-align: top;
}

.group{
  height:auto;
  width:auto;
  padding:0px;
  display:flex;
  flex-direction:column;
  gap:10px;
}


.text {
  color: $black-color;
  text-align:left;
  vertical-align:text-top;
  font-size:28px;
  font-family: $font-monsterrat;
  line-height:26px;
  border-style:hidden;
  outline:none;
  width:auto;
  font-weight: 500;
  &:hover {
    color: $hover-color;
 }
  
}

.text1 {
  color: $black-color;
  text-align:left;
  vertical-align:text-top;
  font-size:28px;
  font-family: $font-monsterrat;
  line-height:26px;
  border-style:hidden;
  outline:none;
  width:auto;
  font-weight: 500;
  
}

.textbig {
  color: $black-color;
  text-align:left;
  vertical-align:text-bottom;
  font-size:40px;
  font-family: $font-monsterrat;
  font-weight: 700;
  line-height:26px;
  border-style:hidden;
  outline:none;
  width:auto;
  margin-right: 200px;
}

@media (max-width: 1668px) {
  .wrapper{
    gap:200px;
  }
}

@media (max-width: 1521px) {
  .wrapper{
    gap:150px;
  }
}

@media (max-width: 1371px) {
  .wrapper{
    gap:100px;
  }
}

@media (max-width: 1230px) {
  .wrapper{
    gap:100px;
  }
  .text {
    font-size: 20px;
  }
  .text1 {
    font-size: 20px;
  }
}

@media (max-width: 1068px) {
  .textbig{
    margin-right: 100px;
  }
}

@media (max-width: 947px) {
  .textbig{
    margin-right: 50px;
  }
}

@media (max-width: 897px) {
  .textbig{
    margin-right: 0px;
    font-size: 30px;
  }
  .text {
    font-size: 15px;
  }
  .text1 {
    font-size: 15px;
  }
  .group {
    gap: 5px;
  }

}

@media (max-width: 721px) {
  .wrapper{
    gap:50px;
  }

}

@media (max-width: 572px) {
  .wrapper{
    flex-direction: column;
  }
  .group{
    text-align: center;
    align-items: center;
  }

}
